html{margin:0;display:flex;width:100%;}
header{ width:100%; 	}
body{width:100%;/* background-color: rgba(62,145,175,1.00); */}
main{/* margin: 2em; *//* font-size: 1em; */}
#imagen-index{ width:100%; 	}
#div-main {
display: flex;
flex-direction:row;
flex-wrap: wrap;
float:left;
align-items: stretch;}
#cabecera{display:flex;flex-direction:column;background-color: #ffffff;top:0;padding:10px;align-items: stretch;justify-content: space-between;align-content: space-between;flex-wrap: nowrap;}
.contenedor-redes {
	 display: flex;
	 float:right; 
	 flex-direction: row; 
	 align-content: space-around; 
	 justify-content: start; 
	 align-items: start; 
	 text-align: -webkit-center; 
 
	 align-self: center; 
	 justify-items: start; 
}
.contenedor-redes img{
width:40px;
height:40px;

	}
.row{
	/* flex-direction: column; */
	flex-wrap: wrap;
	padding-bottom:6px;
	align-content: center;
	justify-content: start;
	align-items: center;
	justify-items: end;
	}
.grid-row{
	display: inline-grid;
	display: inline-table;
	align-content: center;
	background-color: white;
	grid-template-columns: 33% 34% 33%;
	padding:12px;
	margin:20px;
	border: 2px solid #0e0e344d;
	box-shadow: 2px solid green;
	min-height: 180px;
	align-content: stretch;
	align-items: end;
	}
.grid-row >div{
  text-align: center;
}
			
	
		
#header {
margin:auto;
width:100%;
font-family: 'Maitree',Cambria,'Prompt', 'serif';
background-color: rgba(62,145,175,1.00);	
}		
ul, ol {
list-style:none;
}
			
.nav > li {
float:left;
}	
.nav li a {
background-color:rgba(62,145,175,1.00);
color:#fff;
text-decoration:none;
padding:10px 12px;
display:block;
margin-left:20px;
}	
.nav li a:hover{
color:#FBC02B;
}
			
.lista-menu {
display:none;
position: absolute;
min-width:140px;
max-width: 190px;
margin: 1px 10px 25px -40px;

}			
.nav li:hover > ul {
display:block;
}		
.nav li ul li {
position:relative;	
}

.nav li ul li ul {
right:-140px;
top:0px;
}
			

nav{
border-radius:4px;
width:100%;
height:39px;
box-sizing: content-box;
	}


.cajas{
display:flex;
background-color:rgba(194,221,240,1.00);
width:50%;
padding:10px;
border:2px solid white;
box-sizing: border-box;
float:left;
flex-direction:column;
flex-wrap:wrap;
align-items: center;

	}

.cajas p, h3{
margin:  5px;
}
#caja1 {
display:flex;
flex-direction: row;
}
#caja1 div:nth-child(1) img {    
float: right;
margin: 0 3px;
}
#caja1 div:nth-child(1) p{
margin: 0 8px;
vertical-align: middle;
}
#caja1 div:nth-child(3) img {    
float: left;
margin:  8px;
}
#caja1 div:nth-child(3) p{
margin:8px;
vertical-align: middle;
}
hr {
height: 4px;
color:white;
width: 50%;
opacity:.70;
}
#caja2 {
padding: 7px;
flex-direction:row;
flex-flow:wrap;
float: left;
display: inline-flex;
flex-wrap: nowrap;
}
#caja2  div{
display: flex;
flex-flow:wrap;
padding:7px;
}
#caja2 div h2 {
display: inline-flex;
flex-direction: row;
justify-content: space-around;
align-items: flex-end;
align-content: flex-start;
flex-wrap: wrap;
margin-left: 10px;
}
#caja2 div p{
display:flex;
float:right;
}
#caja3{

display:flex;
flex-flow: wrap;
float: left;

}
#caja3 h1{
margin-right:55%;	
margin-left:5%;
float:left;
display:block;
}
#caja3 img{
float:left;
display: inline-block;
margin:13px;

	}

#caja4{
float:left;
	
	}
#caja4 img{
width:80%;
}
[footer] , p{
margin:8px;
font-size:1em;
font-family:  Verdana, "sans-serif";text-align: center;}
footer{
	background-color:rgba(62,145,175,1.00);
	min-height:100px;
	padding:18px;
	clear: both;
}
#footer{
	display:flex;
}
.contenedor_footer {
	background-color:white;
	color:slategray;
	margin: 12px;
	padding: 16px;
	width: 98%;
	font-family: 'Matriee', Cambria, serif;
	display: flex;
	margin-top: 13px;
	vertical-align: baseline;
	flex-direction: column;
	align-content: space-around;
	flex-wrap: wrap;
	}
.contenedor-redes{
justify-content: center;
}
#datos-contacto{font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";color:white;padding: 33px;margin:10px;background-color: black;max-width:40%;/* display: block; */float:left;}
#mapa{
	max-width: 40%;
	display:block;
	float: right;
	margin:20px;
	border:2px solid grey;
	padding:5px;
	
}
	#fila-contacto{
background-color:black;
display:flex;
flex-direction: row;
justify-content: space-around;
align-items: center;
	}
.fa {
 display: inline-block;
 font: normal normal normal 14px/1 FontAwesome;
 font-size: inherit;
 text-rendering: auto;
 -webkit-font-smoothing: antialiased;
 margin:3px;
color:black;
}
.fa:hover{
color:#D7CEB2;
}
.contenedor-redes  .fa{
 color:black;
}
.lista-contacto i:hover{
color:orange;
}
.lista-contacto{
display:inline-block;
text-align: left;
list-style-type: none;
margin: 1em;

}
.lista-contacto .fa{
color:white;	
}

@font-face{
font-family: 'Prompt' ;
src: local('Prompt'), url(https://fonts.googleapis.com/css2?family=Prompt&display=swap);
}
/*estilos bicicletas-MTB.html*/

div.tarjeta{
width:330px;
margin: 40px 40px;
text-align:center;	
}
div.tarjeta :hover {
-webkit-transform:scale(1.05);
transform:scale(1.05);
overflow:hidden;
}
div.album {
width:350px;
box-shadow: 0 4px 8px 0 rgba( 250, 220, 220, 0.6), 0 6px 10px 4px rgba(0,0,0,0.19);
text-align:center;
}
div.contenido{
padding:1px;		
}
p.letra{
color:blue;
padding:1px;
font-size:12px;
}
#animacion{
color: #66635B;
position:relative;
text-shadow: grey;
font-size: 4em;
font-family: "Maitree", Verdana, sans-serif;
z-index:-1;
}
	
/*estilos formulario:*/

#boton-inicio{
margin:20px 0 10px 20px;
	}
#boton-inicio a{
text-decoration: none;
color:currentColor;
	}
#boton-inicio a :hover{
color:orange;
}
#titulo-form{
margin-left: 20px;
color:currentColor;
	}
form{
margin:5%;
padding: 20px;
	}
.form-control{width:100%;}	
#fila-form{
width:90%;	
	}	
/*fin de estilos formulario*/

/*Estilos card*/
#divVue{
display:flex;
}
.card{
  display:flex;
flex-direction: column;
  width:20%;
  float:left;
  margin:3%  4%;
background-color:peachpuff;
}
.card-img-top {
width:70%;
border: 1px solid peachpuff;
}
.card-title , .card-text{/* position: inherit; */background-color:antiquewhite;text-align: center;margin: 3px;}
.row{
display: flex;
flex-direction: column;
}
#divVue{flex-wrap: wrap;}

.aside {
display:table;
float:left;
background-color: #cfb2b2;
padding: 7px;color: #ffffff;
text-align: center;
font-size: 14px;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
align-content: center;
width:22%;
margin:20px;}

@media (min-width:574px) and (max-width:768px){
.contenedor_footer{
width:95%;
margin:16px;	
	}
.contenedor_footer .contenedor-redes{	
justify-content: center;
}
.contenedor-cascos{
width:100%;

}
.row{
width:100%;
margin:10px;
flex-direction:column;
justify-content: space-around;
}
.aside{
width:100%;
margin:5%;
		display:block;
	}}
	 
@media (max-width: 768px ){
	.contenedor-redes{
	/* display: inline; */
	/* justify-content: center; */
	/* align-content: center; */
	/* margin: 20%; */
	/* margin: 10px; */
	/* float: left; */
	/* background-color: white; */
	float: rigth;
	}

.grid-row .div-row .contenedor-redes {
	align-self: center;
}

#logo {
	float: none;
	width: 60%;
}
.navbar>.container, .navbar>.container-fluid {
display:flex;
flex-direction: column;
flex-wrap: wrap;

	}
.nav li{
width:100%;
text-align: center;		
	}
.lista-menu {
display:none;
position:relative;
min-width:140px;
max-width: 190px;
margin: -45px 0px 5px 330px;
	}

footer {
	margin: auto;
	width: auto;
	margin-top: 10px;
}
#cabecera{
width:100%;	
}
.cajas{
width:100%;
	}
.contenedor_footer .contenedor-redes{
justify-content: center;
	}
.contenedor_footer{
margin:16px;	
}
}


