.contenedor{
background-color:antiquewhite;
border-radius: 5px;
padding:3em;
width:80%;
margin:2em;
	}
.col-3 {
float: left;
width: 25%;
margin-top: 6px;
	}
.col-9{
float: left;
width: 75%;
margin-top: 6px;
border:1px solid red;
	}
input[type="text"], input[type="number"] {
margin-top:10px;
margin-bottom: 10px;
box-sizing: border-box;
border-radius: 6px;
background-color: #DED7D1;
	}
input[type="text"]{
width:60%;

}
	input:focus{
background-color:antiquewhite;
	} 
	
textarea{ 
width:50%;
height: 200px;
margin:3em;
border: 2px solid  #DED7D1;

	}
input[type=submit], input[type=reset] {
  background-color: #DED7D1;
  border: 1px solid rgba(85,85,85,1.00);
  padding: 10px 25px;
  text-decoration: none;
  margin: 14px 14px;
  cursor: pointer;
}
